body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    flex-direction: column;

}

td{
    font-size: 24px;
    border: solid blue;
}

h1{
    
    font-size: 32px;
}